<?xml version="1.0" encoding="utf-8"?>
<manifest android:hasCode="false" package="com.rabbitfoot.theme.pYrplerabbYt"
  xmlns:android="http://schemas.android.com/apk/res/android" xmlns:pluto="http://www.w3.org/2001/pluto.html">
    <uses-feature android:name="com.tmobile.software.themes" />
    <theme pluto:themeId="pYrplerabbYt" pluto:styleId="@style/pYrplerabbYt" pluto:name="@string/theme_name" pluto:preview="@drawable/preview" pluto:author="@string/author" pluto:copyright="@string/copyright" pluto:wallpaperImage="@drawable/homescreen" pluto:styleName="@string/style_appearance_name" pluto:notificationRingtoneName="BlackICE" pluto:notificationRingtoneFileName="media/audio/notifications/BlackICE.mp3">
        <meta-data android:name="com.tmobile.theme.redirections" android:resource="@xml/redirections" />
	<application android:icon="@drawable/icon" android:label="@string/theme_title">
        <activity android:name=".MainActivity" android:label="@string/theme_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
        </activity>
    </application>
    </theme>
</manifest>
